<p>
	<%= button_to "Home", api_v1_admin_index_url, :method => :get %>
</p>

<h2> Welcome Admin <h2>
<p>
	<%= button_to "Categories", api_v1_categories_url, :method => :get %>
	<br>
	<%= button_to "Products", api_v1_product_prices_url, :method => :get %>
	<br>
	<%= button_to "Cities", api_v1_cities_url, :method => :get %>
</p>

